<div class="py-16 sm:py-24 text-center">
  <div class="text-center mb-12 sm:mb-20">
    {{ partial "components/section-title" "Contact" }}
  </div>

  <a href="mailto:info@estudifar.com" class="block hover:text-teal-400 transition-colors duration-300 mb-2">info@estudifar.com</a>
  <a href="tel:679186133" class="block hover:text-teal-400 transition-colors duration-300 mb-10">+34 679 186 133</a>
  <a href="https://goo.gl/maps/ohoqcHuASAFcBD6Y6" class="block hover:text-teal-400 transition-colors duration-300">
    Sant Màrius, 13<br>
    08022 Barcelona<br>
    Spain
  </a>
</div>
