<div class="py-16 sm:py-24">
  <div class="text-center mb-12 sm:mb-20">
    {{ partial "components/section-title" "Projects" }}
  </div>
  <div class="max-w-6xl mx-auto">
    <div class="sm:flex flex-wrap sm:-mx-4 -mb-6 sm:-mb-10">
      {{ range .projects }}
        <article class="sm:w-1/2 lg:w-1/3 sm:px-4 mb-6 sm:mb-10">
          <a href="{{ .url }}" class="block hover:text-teal-400 transition-colors duration-300">
            <h1 class="text-xl leading-tight mb-2">{{ .title }}<span class="text-xs pl-2">{{ .year }}</span></h1>
            <p class="text-sm">{{ .comments }}</p>
          </a>
        </article>
      {{ end }}
    </div>
  </div>

</div>
