<div class="py-16 sm:py-24">
  <div class="max-w-2xl mx-auto text-center mb-12 sm:mb-20">
    {{ partial "components/section-title" "Team" }}
  </div>

  <div class="md:flex justify-center md:-mx-10 -mb-16">
    {{ range $.Site.Params.team }}
      <div class="md:w-1/2 max-w-lg mx-auto lg:mx-0 md:px-10 mb-16">
        <div class="flex items-center mb-2">
          <img class="w-20 h-20 rounded" src="{{ .image }}" alt="{{ .name }}">
          <div class="ml-4">
            <div class="font-bold">{{ .name }}</div>
            <div class="uppercase text-sm">{{ .job_title }}</div>
          </div>
        </div>
        <p class="mb-2">{{ .bio }}</p>
        {{ range .links }}
          <a href="{{ .url }}" class="text-sm block text-teal-400">{{ .text }}</a>
        {{ end }}
      </div>
    {{ end }}
  </div>

</div>
